*.sqlite
.DS_Store
**/.DS_Store
/.env.before-appkey-sync
/.env.*
!.env.example
/.phpunit.cache
/.developer
/.api_docs
/node_modules
/public/build
/public/hot
/public/storage
/storage/app
/storage/*.key
/vendor
.vscode_settings
.cursor
.claude
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/storage/frontend/*
!/storage/frontend/.gitignore
/testing
/testing.corrupt.*
/database/*.sqlite
/storage/logs/*.log
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/config.local
/.fleet
/.idea
/.vscode
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/public/vendor/
/docker/database
/services/ffmpeg/bin
/refactor
/plugins/
pack.sh
/lang/ru/
/var/world/countries/ru.php
/var/world/reports/post/ru.php
/var/world/reports/user/ru.php
/var/world/reports/group/ru.php
/var/world/user_fields/ru.php
resources/views/apps/mpa/document/about/i18n
resources/views/apps/mpa/document/author/i18n
resources/views/apps/mpa/document/cookies/i18n
resources/views/apps/mpa/document/developers/i18n
resources/views/apps/mpa/document/help/i18n
resources/views/apps/mpa/document/privacy/i18n
resources/views/apps/mpa/document/terms/i18n
resources/views/apps/mpa/document/verification/i18n
RELEASE_CHECKLIST.md
/updates
CANONICAL.md
extractor.sh
